In [264]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from IPython.display import display

In [265]:
df=pd.read_csv('text.csv')
df2=df.copy()
df2=df2.head(10000)
df2

      Unnamed: 0                                               text  label
0              0      i just feel really helpless and heavy hearted      4
1              1  ive enjoyed being able to slouch about relax a...      0
2              2  i gave up my internship with the dmrg and am f...      4
3              3                         i dont know i feel so lost      0
4              4  i am a kindergarten teacher and i am thoroughl...      4
...          ...                                                ...    ...
9995        9995  i feel that shakespeare is a talented man of h...      1
9996        9996  ill be attending college classes and ill have ...      1
9997        9997  i am a girl and i am utterly dependent on my i...      0
9998        9998                    ive been feeling less inhibited      4
9999        9999  ive got to say today im feeling especially gor...      1

[10000 rows x 3 columns]

In [266]:
df2['text'] = df2['text'].str.split(' ',)
df2

      Unnamed: 0                                               text  label
0              0  [i, just, feel, really, helpless, and, heavy, ...      4
1              1  [ive, enjoyed, being, able, to, slouch, about,...      0
2              2  [i, gave, up, my, internship, with, the, dmrg,...      4
3              3                 [i, dont, know, i, feel, so, lost]      0
4              4  [i, am, a, kindergarten, teacher, and, i, am, ...      4
...          ...                                                ...    ...
9995        9995  [i, feel, that, shakespeare, is, a, talented, ...      1
9996        9996  [ill, be, attending, college, classes, and, il...      1
9997        9997  [i, am, a, girl, and, i, am, utterly, dependen...      0
9998        9998              [ive, been, feeling, less, inhibited]      4
9999        9999  [ive, got, to, say, today, im, feeling, especi...      1

[10000 rows x 3 columns]

In [267]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(lowercase=False, tokenizer=lambda x: x, preprocessor=lambda x: x)

X = vectorizer.fit_transform(df2['text'])

df_encoded = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

print(df_encoded.head(5))

C:\Users\cypri\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

   a  aaron  aatp  aback  abandon  abandoned  abandoning  abandonment  abc  \
0  0      0     0      0        0          0           0            0    0
1  2      0     0      0        0          0           0            0    0
2  0      0     0      0        0          0           0            0    0
3  0      0     0      0        0          0           0            0    0
4  1      0     0      0        0          0           0            0    0

   abdominal  ...  zingers  ziva  zombie  zone  zoom  zooming  zouk  zumba  \
0          0  ...        0     0       0     0     0        0     0      0
1          0  ...        0     0       0     0     0        0     0      0
2          0  ...        0     0       0     0     0        0     0      0
3          0  ...        0     0       0     0     0        0     0      0
4          0  ...        0     0       0     0     0        0     0      0

   zurich  zz
0       0   0
1       0   0
2       0   0
3       0   0
4       0   0

[5 rows x 11812 columns]

In [270]:
df_concatenated = pd.concat([df_encoded, df2['label']], axis=1)
print(df_concatenated)
print(df_concatenated['label'].loc[df_concatenated['label']>=5])

      a  aaron  aatp  aback  abandon  abandoned  abandoning  abandonment  abc  \
0     0      0     0      0        0          0           0            0    0
1     2      0     0      0        0          0           0            0    0
2     0      0     0      0        0          0           0            0    0
3     0      0     0      0        0          0           0            0    0
4     1      0     0      0        0          0           0            0    0
...  ..    ...   ...    ...      ...        ...         ...          ...  ...
9995  3      0     0      0        0          0           0            0    0
9996  1      0     0      0        0          0           0            0    0
9997  1      0     0      0        0          0           0            0    0
9998  0      0     0      0        0          0           0            0    0
9999  0      0     0      0        0          0           0            0    0

      abdominal  ...  ziva  zombie  zone  zoom  zooming  zouk  zumba  zurich  \
0             0  ...     0       0     0     0        0     0      0       0
1             0  ...     0       0     0     0        0     0      0       0
2             0  ...     0       0     0     0        0     0      0       0
3             0  ...     0       0     0     0        0     0      0       0
4             0  ...     0       0     0     0        0     0      0       0
...         ...  ...   ...     ...   ...   ...      ...   ...    ...     ...
9995          0  ...     0       0     0     0        0     0      0       0
9996          0  ...     0       0     0     0        0     0      0       0
9997          0  ...     0       0     0     0        0     0      0       0
9998          0  ...     0       0     0     0        0     0      0       0
9999          0  ...     0       0     0     0        0     0      0       0

      zz  label
0      0      4
1      0      0
2      0      4
3      0      0
4      0      4
...   ..    ...
9995   0      1
9996   0      1
9997   0      0
9998   0      4
9999   0      1

[10000 rows x 11813 columns]

ValueError: Cannot index with multidimensional key

In [272]:

import numpy as np
import tensorflow as tf
tf.__version__
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.datasets import mnist
from tensorflow.keras.utils import to_categorical

#(train_data, train_labels), (test_data, test_labels) = df_concatenated.load_data()
#print(train_data)
#print(test_labels)

#train_labels_one_hot = to_categorical(train_labels, num_classes=6)
#test_labels_one_hot = to_categorical(test_labels, num_classes=6)

#train_data = df_encoded.head(800)
#train_labels = df2['label'].head(800)
#test_data = df_encoded[800:999]
#test_labels = df2['label'][800:999]

#train_data_np = train_data.to_numpy().astype('float32')
#train_labels_np = to_categorical(train_labels.to_numpy())
#train_labels_np = tf.keras.utils.to_categorical(train_labels_np, num_classes=6)
#test_data_np = test_data.to_numpy().astype('float32')
#test_labels_np = to_categorical(test_labels.to_numpy())
#test_labels_np = tf.keras.utils.to_categorical(test_labels_np, num_classes=6)

X_test = df_concatenated.head(800).iloc[:, :-1].values
y_test = df_concatenated.head(800).iloc[:, -1].values
X_train = df_concatenated[800:].iloc[:, :-1].values
y_train = df_concatenated[800:].iloc[:, -1].values

y_train_one_hot = to_categorical(y_train)
y_test_one_hot = to_categorical(y_test)

#print(X_test[-1].shape)


model = Sequential([
    Flatten(),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'), 
    Dense(6, activation='softmax')
])

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train_one_hot, epochs=5, batch_size=32)


test_loss, test_acc = model.evaluate(X_test, y_test_one_hot, batch_size=32)

print(f'Test accuracy: {test_acc}')

Epoch 1/5
288/288 [==============================] - 9s 28ms/step - loss: 1.1007 - accuracy: 0.6098
Epoch 2/5
288/288 [==============================] - 8s 28ms/step - loss: 0.2127 - accuracy: 0.9347
Epoch 3/5
288/288 [==============================] - 8s 28ms/step - loss: 0.0558 - accuracy: 0.9840
Epoch 4/5
288/288 [==============================] - 8s 28ms/step - loss: 0.0248 - accuracy: 0.9936
Epoch 5/5
288/288 [==============================] - 8s 29ms/step - loss: 0.0138 - accuracy: 0.9963
25/25 [==============================] - 0s 6ms/step - loss: 0.5896 - accuracy: 0.8512
Test accuracy: 0.8512499928474426

In [273]:
model.save('modele_trained.keras')

In [274]:
from tensorflow.keras.models import load_model
modele_charge = load_model('modele_trained.keras')

In [275]:
df3=df.copy().head(1000)

#def transf_en_hot(texte):
    #texte_sep=[texte.split(' ',)]
    #print(texte_sep)
    #texte_df = pd.DataFrame([texte_sep])
    #print(texte_df)
    #df3=df.copy().head(1000)
    #df3['text'] = df3['text'].str.split(' ',)
    #df_total=pd.concat([df3['text'], texte_df], axis=0)
    #print(df_total)
    #df_total_vect = vectorizer.fit_transform(df_total[0])
    #print(df_total_vect)
    #df_total_encoded = pd.DataFrame(df_total_vect.toarray(), columns=vectorizer.get_feature_names_out())
    #print(df_total_encoded)
    #return(df_total_encoded.iloc[-1].values)
def transf(texte,vectorizer):
    texte_preprocessed = [texte]  # Appliquez votre logique de tokenisation/prétraitement si nécessaire
    texte_vect = vectorizer.transform(texte_preprocessed)
    return texte_vect.toarray()

In [293]:
prediction = modele_charge.predict(transf('i feel sad bro',vectorizer))
print(prediction)
classe_predite = np.argmax(prediction, axis=1)
print(classe_predite)

1/1 [==============================] - 0s 39ms/step
[[4.8358059e-03 9.9066484e-01 4.3781416e-05 4.4221664e-03 1.2113934e-05
  2.1427488e-05]]
[1]