In [85]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [86]:
#df=pd.read_csv("text.csv")
df=pd.read_csv("text.csv").head(11000)
df

       Unnamed: 0                                               text  label
0               0      i just feel really helpless and heavy hearted      4
1               1  ive enjoyed being able to slouch about relax a...      0
2               2  i gave up my internship with the dmrg and am f...      4
3               3                         i dont know i feel so lost      0
4               4  i am a kindergarten teacher and i am thoroughl...      4
...           ...                                                ...    ...
10995       10995  i know how rare and special of a blessing this...      0
10996       10996  i feel really rude and ignorant for not unders...      3
10997       10997  i feel passionate about what i do but in no wa...      2
10998       10998  i am afraid to feel humiliated to see people w...      0
10999       10999  i can do without but some it just kills me to ...      0

[11000 rows x 3 columns]

In [87]:
X = df.text
X

0            i just feel really helpless and heavy hearted
1        ive enjoyed being able to slouch about relax a...
2        i gave up my internship with the dmrg and am f...
3                               i dont know i feel so lost
4        i am a kindergarten teacher and i am thoroughl...
                               ...
10995    i know how rare and special of a blessing this...
10996    i feel really rude and ignorant for not unders...
10997    i feel passionate about what i do but in no wa...
10998    i am afraid to feel humiliated to see people w...
10999    i can do without but some it just kills me to ...
Name: text, Length: 11000, dtype: object

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

X_vec = vectorizer.fit_transform(X)
X_vec

<11000x12453 sparse matrix of type '<class 'numpy.float64'>'
	with 173380 stored elements in Compressed Sparse Row format>

In [98]:
print(X_vec.shape)  # (nombre de documents, nombre de mots uniques dans le corpus)
print(vectorizer.get_feature_names_out())  # Mots uniques dans le corpus
print(X_vec.toarray())  # Matrice TF-IDF pour le corpus

# Pour afficher de manière plus lisible
import pandas as pd
df_vec = pd.DataFrame(X_vec.toarray(), columns=vectorizer.get_feature_names_out())
print(df_vec.shape)

(11000, 12453)
['aaaah' 'aaron' 'aatp' ... 'zumba' 'zurich' 'zz']
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(11000, 12453)

In [99]:
import numpy as np
import tensorflow as tf
tf.__version__
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.datasets import mnist
from tensorflow.keras.utils import to_categorical

X_test = df_vec[:8000].iloc[:, :].values
y_test = df[:8000].iloc[:, -1].values

X_train = df_vec[8000:].iloc[:, :].values
y_train = df[8000:].iloc[:, -1].values

y_train_one_hot = to_categorical(y_train, num_classes=6)
y_test_one_hot = to_categorical(y_test, num_classes=6)


model = Sequential([
    Flatten(),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'), 
    Dense(6, activation='softmax')
])

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train_one_hot, epochs=5, batch_size=32)

test_loss, test_acc = model.evaluate(X_test, y_test_one_hot, batch_size=32)

print(f'Test accuracy: {test_acc}')

Epoch 1/5
94/94 [==============================] - 5s 33ms/step - loss: 1.5926 - accuracy: 0.3647
Epoch 2/5
94/94 [==============================] - 3s 31ms/step - loss: 1.0482 - accuracy: 0.6487
Epoch 3/5
94/94 [==============================] - 3s 30ms/step - loss: 0.3394 - accuracy: 0.9230
Epoch 4/5
94/94 [==============================] - 3s 29ms/step - loss: 0.0798 - accuracy: 0.9907
Epoch 5/5
94/94 [==============================] - 3s 31ms/step - loss: 0.0275 - accuracy: 0.9973
250/250 [==============================] - 2s 6ms/step - loss: 0.6643 - accuracy: 0.7769
Test accuracy: 0.7768750190734863

In [100]:
model.save('modele_trained3.keras') 
from tensorflow.keras.models import load_model
modele_charge = load_model('modele_trained2.keras')

In [101]:
def transf(text, vectorizer):
    texte_vect = vectorizer.transform([text])  # Mettre le texte dans une liste
    return texte_vect.toarray()

In [106]:
prediction = model.predict(transf('i feel frightened like something is ending',vectorizer))
print(prediction)
classe_predite = np.argmax(prediction, axis=1)
print(classe_predite)

1/1 [==============================] - 0s 47ms/step
[[0.03047317 0.01476056 0.00528397 0.06125862 0.85463655 0.03358711]]
[4]